{% extends 'base.html' %}
{% block content %}
<h1>New User Register Here</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <label>First Name</label>
        {{form.first_name}}
    </div>

    <br>
    <div>
        <label>Last Name</label>
        {{form.last_name}}
    </div>
    <br>
    <div>
        <label>Username</label>
        {{form.username}}
    </div>
    <br>
    <div>
        <label>Email</label>
        {{form.email}}
    </div>
    <br>
    <div>
        <label>Password</label>
        {{form.password1}}
    </div>
    <br>

    <div>
        <label>Password</label>
        {{form.password2}}
    </div>
    <br>
    <div>
        <label>Phone Number</label>
        {{form.phone_number}}
    </div>
    <br>
    <div>
        <label>DOB</label>
        {{form.date_of_birth}}
    </div>
    <br>
    <div>
        <label>Gender</label>
        {{form.gender}}
    </div>
    <br>
    <div>
        <label>Address</label>
        {{form.address}}
    </div>
    <input type="submit" value="Register">

</form>
{{form.errors}}
<div>
    <h3>Already Registered <a href="{% url 'login' %}">Login</a></h3>
</div>
{% endblock %}