{% extends 'base.html' %}
{% block content %}
<h1>New User Register Here</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <label>Username</label>
        {{form.username}}
    </div>

    <br>
    <div>
        <label>Email</label>
        {{form.email}}
    </div>
    <br>
    <div>
        <label>Password</label>
        {{form.password1}}
    </div>
    <br>
    <div>
        <label>Confirm Password</label>
        {{form.password2}}
    </div>
    <br>
    <input type="submit" value="Register">

</form>
{{form.errors}}
<div>
    <h3>Already Registered <a href="{% url 'login' %}">Login</a></h3>
</div>
{% endblock %}